footer.flex {
  justify-content: space-between;
  padding-bottom: 1.9rem;
}

footer.flex ul {
  gap: 1rem;
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
}

footer.flex ul a:hover {
  color: var(--blue);
  /* font-size: 1rem; */
  font-weight: 500;
}

footer.flex p {
  color: rgb(113 113 122);
}

@media (max-width: 800px) {
  footer.flex {
    flex-direction: column;
    gap: 2rem;
  }
}

ul li a:hover {
  color: var(--blue);
  opacity: 1;
  /* font-size: 0.9rem; */
}
ul li a.active {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
}
ul li a.active::after {
  content: "";
  width: 76%;
  bottom: -13px;
  left: 0px;
  height: 1px;
  position: absolute;
  background-color: var(--blue);
  padding: 0 6px;
  box-shadow: 0px 0px 11px 1px var(--blue);
  border-radius: 100%;
}
