/* ===========================
 table of contents
==============================
1. Left Section
2. Right Section ==> animation*/

section.hero {
  margin-top: 12rem;
}

/* ========================
    1. Left Section
=========================== */
section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
}

section.hero .left-section {
  flex-grow: 1;
  width: 118%;
}

.visitsNUM {
  border-radius: 16px;
  background: black;
  width: max-content;
  border-right: 1px solid darkorange;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  font-size: larger;
  font-weight: bolder;
  margin: 21px -10px;
  color: rgb(255, 255, 255);
  padding: 3px 12px;
}
.visitsNUM_Span {
  padding: 3px 12px;
  background: darkorange;
  border-radius: 16px;
  margin: 0px 8px;
  color: black;
}
section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 13rem;

  border-radius: 50%;
  border: 1px solid darkorange;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
}

section.hero .all-icons .icon:hover {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}

/* ===================================
    2. Right Section ==> animation
====================================== */
section.hero .animation {
  width: 100%;
  translate: 100px 55px;
}

@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }

  /* section.hero {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  section.hero .animation {
    right: 21%;
    width: 39%;
    position: absolute;
    top: 14%;
} */
}
.devicon li:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.devicon li{
font-size: 22px;
}

