/*============= about my self ============= */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.all-info {
  display: flex;
  margin: 120px 0px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.all-all-all {
  padding: 45px 8px;
  border-radius: 14px;
  text-align: center;
  margin: 0px 0px 41px 0px;
}
.all-all-all p {
  text-align: center;
  font-size: medium;
  color: var(--title);
  line-height: 59px;
  border-radius: 26px;
  padding: 0 34px;
  margin: 41px 0px 0;
  text-transform: capitalize;
  word-spacing: 0px;
}

@media only screen and (min-width: 360px) and (max-width: 700px) {
  .link-titel2 {
    font-family: "Outfit", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    fill: #9a9a9a;
    background-color: #242424;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #242424;
    padding: 4px 18px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .all-all-all p {
    font-size: 14px;
    color: #9a9a9a;
    font-family: "Outfit", Sans-serif;
    letter-spacing: 0.99px;
    line-height: 36px;
    border-radius: 26px;
    padding: 0 34px;
    margin: 41px 0px 0;
    text-transform: capitalize;
    word-spacing: 0px;
  }
}

.titel-for-me h1 {
  text-align: center;
  letter-spacing: 0px;
  display: inline;
  position: relative;
  word-spacing: 0px;
  font-weight: 400;
  font-family: fantasy;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.titel2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 120%;
  left: 0;
  background-color: var(--black-defecult-white);
  opacity: 0.3;
}

.titel2::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 0px);
  left: 0;
  background-color: var(--title);
}

.link-titel2 {
  font-family: "Outfit", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  fill: #9a9a9a;
  background-color: #242424;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  padding: 10px 31px;
}

.link-titel2:hover {
  background-color: #00000000;
  padding: 10px 9%;
  border-color: #c6c6c6;
  transition: all 0.4s ease;
}

.all-all-all i {
  font-size: 15px;
  margin: 0px 5px;
}

/* my skills */

.skills h1:before {
  /*change font family of heading*/
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 120%;
  left: 0;
  background-color: var(--title);
  opacity: 0.3;
}

.skills h1 {
  text-align: center;
  letter-spacing: 0px;
  display: inline;
  position: relative;
  word-spacing: 0px;
  font-weight: revert;

  font-size: 38px;
  color: var(--title);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills h1:after {
  /*change font family of heading*/
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: calc(120% - 0px);
  left: 0;
  background-color: var(--title);
}

.skil-li {
  margin-top: 55px;
}

li {
  /*style the li tag*/
  list-style-type: none;
  font-family: "Outfit", Sans-serif;
  display: flex;
}

.skills {
  text-align: center;
  border-radius: 14px;
  width: 50%;
  color: var(--title);
}

.skil-li li p {
  color: var(--title);

  font-size: 22px;
  font-weight: 300;
}
.skills li {
  margin: 9px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 3px #ffffff0d;
  width: 78%;
  height: 5px;
  margin: 0px 15px;
}

.bar span {
  height: 4px;
  float: left;
  background-color: var(--title);
  opacity: 0.6;
}

.html {
  /*set skills and animation of html*/
  width: 99%;
  animation: html 7s 2 ease;
}

.CSS {
  /*set skills and animation of css*/
  width: 93%;
  animation: CSS 7s 2 ease;
}

.BootStrap {
  /*set skills and animation of jquery*/
  width: 98%;
  animation: BootStrap 7s 2 ease;
}

.JavaScript {
  /*set skills and animation of javascript*/
  width: 70%;
  animation: JavaScript 7s 2 ease;
}

.React {
  /*set skills and animation of jquery*/
  width: 90%;
  animation: React 7s 2 ease;
}

.Redux {
  /*set skills and animation of jquery*/
  width: 55%;
  animation: Redux 7s 2 ease;
}

.SASS {
  /*set skills and animation of jquery*/
  width: 86%;
  animation: SASS 7s 2 ease;
}

.tailwind {
  /*set skills and animation of jquery*/
  width: 95%;
  animation: tailwind 7s 2 ease;
}

.c {
  /*set skills and animation of jquery*/
  width: 50%;
  animation: c 7s 2 ease;
}

.sql {
  /*set skills and animation of jquery*/
  width: 68%;
  animation: sql 7s 2 ease;
}

@keyframes html {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 99%;
  }
}

@keyframes CSS {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes BootStrap {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

@keyframes JavaScript {
  /*animate javascript skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes React {
  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes Redux {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@keyframes SASS {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 86%;
  }
}

@keyframes tailwind {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

@keyframes c {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes sql {
  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 68%;
  }
}

/*  *******   Services Section Styling Starts   *******  */

.servicesSection {
  width: 100%;
  padding: 75px 8% 60px;
  background-color: var(--title);
}

.servicesSection .serviceTitle {
  max-width: 700px;
  margin: 0px auto 45px;
  text-align: center;
}

.servicesSection .serviceTitle h1 {
  position: relative;
  display: inline-block;
  font-weight: revert;
  font-size: 38px;
  /* font-size: var(--large-heading); */
  color: var(--title);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.servicesSection .serviceTitle h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 120%;
  left: 0;
  opacity: 0.3;
  background-color: var(--title);
}

.servicesSection .serviceTitle h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 0px);
  left: 0;
  background-color: var(--title);
}

.servicesSection .serviceTitle p {
  font-size: 17px;
  color: var(--title);
}

.servicesSection .serviceContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.serviceContents .serviceBox {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px 35px;
  background-color: var(--title);
  margin: auto;
  background: #0000002b;
  border-radius: 6px;
  cursor: pointer;
  backdrop-filter: blur(3px);
  transition: transform 0.4s, box-shadow 0.4s;
}

@media only screen and (min-width: 513px) and (max-width: 628px) {
  .serviceContents .serviceBox {
    flex-basis: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 20px 35px;
    background-color: var(--title);
    margin: auto;
    background: #0000002b;
    border-radius: 6px;
    cursor: pointer;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: transform 0.4s, box-shadow 0.4s;
  }
}

@media only screen and (min-width: 0px) and (max-width: 513px) {
  .serviceContents .serviceBox {
    flex-basis: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 20px 35px;
    background-color: var(--title);
    margin: auto;
    background: #0000002b;
    border-radius: 6px;
    cursor: pointer;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: transform 0.4s, box-shadow 0.4s;
  }
}

.serviceContents .serviceBox:hover {
  transform: translateY(-13px);
  box-shadow: 0px 0px 7px 1px #303030;
  transition: all 0.3s ease;
}

.serviceBox .icon_font {
  width: 37px;
  color: #585858;
  height: 34px;
}

.serviceContents .serviceBox h2 {
  padding: 15px 0px 10px;
  color: #ffffff9e;
  font-size: 20px;
}

.serviceContents .serviceBox p {
  font-size: 11px;
  color: var(--title);
  font-family: inherit;
  line-height: 1.5;
  word-spacing: 0px;
}

.elementor-button:focus,
.elementor-button:hover,
.elementor-button:visited {
  /* color: #fff; */
  color: var(--title);
}
/*  *******   Services Section Styling Ends   *******  */

.titel2:before {
  /*change font family of heading*/
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 120%;
  left: 0;
  background-color: var(--title);
  opacity: 0.3;
}

.titel2 {
  text-align: center;
  letter-spacing: 0px;
  display: inline;
  position: relative;
  word-spacing: 0px;
  font-weight: revert;

  font-size: 38px;
  color: var(--title);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.titel2:after {
  /*change font family of heading*/
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  top: calc(120% - 0px);
  left: 0;
  background-color: var(--title);
}

